* {
    box-sizing: border-box;
}

.jumbo {
    font-size: 32px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
}
body {
    font-family: 'Open Sans', serif;
}
.header {
    background-color: #009879;
    color: #ffffff;
    padding: 5px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
.footer > a {
    color: #c7c8ff;
}

.footer > a:hover {
    color: white;
    text-decoration: none;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }
    .jumbo {
        font-size: 18px;
    }
    table {
        margin: 5px 0 !important;
    }
    table, thead, tr, th, td {
        font-size: 12px !important;
    }
    table th, table td {
        padding: 10px !important;
    }
}
canvas {
    border: thin solid #009879;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
    position: sticky;
    top: 0;
    background-color: #009879;
    color: #ffffff;
}

table thead tr {
    text-align: left;
}
table th, table td {
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: thin solid #dddddd;
}
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.nav-container {
    padding: 0 15px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav > li {
    float: left;
}

.nav > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav > li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #009879;
}